<h1><%= current_user_name %>'s Dashboard</h1>

<div id="todays-meals">
  <h3>Today's Meals - <%= @today.strftime('%B %d, %Y') %></h3>

  <% if @meals.nil? || @meals.empty?%>
    <p>You haven't logged any meals yet today</p>
  <% else %>
    <% @meals.each do |meal| %>
      <div id="meal-<%= meal.id %>">
        <h4><%= meal.name %>
          <% if meal.rank >= 0 %>
              - <%= meal.rank %>/10
          <% end %>
        </h4>
        <p><%= meal.meal_time.to_datetime.strftime('%l:%M %P') %></p>
        Foods:
        <%= meal.food_names.join(', ') %>
      </div>
    <% end %>
  <% end %>
</div>

<%= button_to 'Add a meal', meal_builder_path, method: :get %>
<%= button_to 'Rate meals', meal_rating_path,  method: :get %>
