<% @foods&.each do |food| %>
  <div id="food-<%= food[:food_id] %>">
    <%= food[:name] %>
    <%= button_to 'Delete', food_path(food[:food_id]), method: :delete %>
  </div>
<% end %>

<%= form_with url: meal_builder_path, method: :post do |f| %>
  <%= f.text_field     :meal_name %>
  <%= f.datetime_field :meal_time %><br>
  <%= f.submit         'Save meal' %>
<% end %>

<%= button_to 'Add food', food_search_path, method: :get %>
