<h1>Food Search</h1>
<%= form_with url: food_search_path, method: :get, local: true do |f| %>
  <%= f.text_field :search, required: true %>
  <%= f.submit 'Search' %>
<% end %>
<% @foods&.each do |food| %>
<div id="food-<%= food.id %>">
  <%= food.name %> <%= button_to "Add to Meal", foods_path, params: {food_id: food.id, food_name: food.name} %><br>
</div>
<% end %>
